repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
    - id: check-merge-conflict
      args: [--assume-in-merge]
-   repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.5
    hooks:
      - id: uv-lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.0
  hooks:
    - id: ruff-check
      args: [ --fix, --exit-non-zero-on-fix]
    - id: ruff-format
- repo: local
  hooks:
    - id: ty
      name: type check
      entry: ty check .
      language: system
      pass_filenames: false
      always_run: true